@model IEnumerable<ISSS_Board_Maintenance.Models.maintenance_scheduleCE>

@Styles.Render("~/Content/bootstrap.min.css")

<a id="createSchedule" style="cursor:pointer; color:darkblue;">
    Crear Nuevo
</a><br /><br />
<div>
    <table>
        <tr>
            <td>
                Mes de planificación
                <select class="form-control" id="months" name="months" style="width:auto; margin-right:30px;">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </td>
            <td>
                Dependencia
                <select class="form-control" id="dependency" name="dependency">
                </select>
            </td>
        </tr>
    </table>
</div>
<table class="table" id="scheduleTable">
    <tr>
        <th>
            Código
        </th>
        <th>
            Tipo
        </th>
        <th>
            Dependencia
        </th>
        <th>
            Edificio
        </th>
        <th>
            Nivel
        </th>
        <th>
            Posición
        </th>
        <th>
            Nomenclatura
        </th>
        <th>
            Mes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ms_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td class="dependency_T">
                @Html.DisplayFor(modelItem => item.dependency.dependency1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomenclature)
            </td>
            <td class="month_scheduled_T">
                @Html.DisplayFor(modelItem => item.month_scheduled_name)
            </td>
            <td>
                <a id="@item.ms_id" class="editSchedule" style="cursor:pointer; color:blue;">
                    Editar
                </a>
                |
                <a id="@item.ms_id" class="deleteSchedule" style="cursor:pointer; color:darkblue;">
                    Eliminar
                </a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        $(document).ready(function () {
            $("#createSchedule").click(function () {
                $("#createScheduleModal").modal('show');
            });
            $(".deleteSchedule").click(function () {
                var id = $(this).attr("id");
                $(".dltSchedule").attr("id", id);
                $("#deleteScheduleModal").modal('show');
            });
            $(".editSchedule").click(function () {
                var getUrl = window.location;
                var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
                var id = $(this).attr("id");
                $(".dltSchedule").attr("id", id);
                $.ajax({
                    type: "GET",
                    url: baseUrl + "api/ScheduleAPI/" + id,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $(".editScheduleF#ms_id").val(response.ms_id.trim());
                        $(".editScheduleF#type").val(response.type);
                        $(".editScheduleF#dependency_id").val(response.dependency_id);
                        $(".editScheduleF#building").val(response.building);
                        $(".editScheduleF#level").val(response.level);
                        $(".editScheduleF#location").val(response.location);
                        $(".editScheduleF#nomenclature").val(response.nomenclature);
                        $(".editScheduleF#month_scheduled").val(response.month_scheduled);
                    }
                });
                $("#editScheduleModal").modal('show');
            });
            $.ajax({
                type: "GET",
                url: baseUrl + "api/DependencyAPI/",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $.each(response, function (index) {
                        $("#dependency").append(new Option(response[index].dependency_name, response[index].dependency_id));
                    });
                    filterTable();
                }
            });
            $("#months").on('change', function () {
                filterTable();
            });
            $("#dependency").on('change', function () {
                filterTable();
            });
            function filterTable() {
                var dependency = $("#dependency option:selected").text().trim();
                $("#scheduleTable td.dependency_T:contains('" + dependency + "')").parent().show();
                $("#scheduleTable td.dependency_T:not(:contains('" + dependency + "'))").parent().hide();
                var month = $("#months option:selected").text().trim().toLowerCase();
                $("#scheduleTable td.month_scheduled_T:visible:contains('" + month + "')").parent().show();
                $("#scheduleTable td.month_scheduled_T:visible:not(:contains('" + month + "'))").parent().hide();
            }
        });
    </script>
}